amqp==2.4.2
beautifulsoup4==4.8.2
billiard==3.6.0.0
celery==4.3.0
Click==7.0
dj-database-url==0.5.0
Django==1.11.17
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==1.1.1
django-crispy-forms==1.9.0
django-datetimepicker==3.14
django-filter==2.1.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-mptt==0.10.0
django-tempus-dominus==5.1.2.13
django-widget-tweaks==1.4.3
easygui==0.98.1
Flask==1.0.2
gunicorn==19.9.0
html5lib==1.0.1
itsdangerous==1.1.0
Jinja2==2.10.1
kombu==4.5.0
MarkupSafe==1.1.1
passlib==1.7.1
Pillow==9.0.1
psycopg2==2.7.7
psycopg2-binary==2.8.2
PyPDF2==1.26.0
pytz==2018.9
reportlab==3.5.42
six==1.15.0
soupsieve==2.0
vine==1.3.0
virtualenv==16.6.0
webencodings==0.5.1
Werkzeug==0.15.2
whitenoise==4.1.2
xhtml2pdf==0.2.4
