{% extends "index.html" %}
{% load static %}
{% block mainSectionId %}aproposdenous{% endblock mainSectionId%}
{% block headerContent %}
<div class="jumbotron text-center">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "images/Untitled45.jpg" %}" alt="Los Angeles" width="550" height="250">
    </div>
    <div class="carousel-item">
      <img src="{% static "images/Untitled45.jpg" %}" alt="Chicago" width="550" height="250">
    </div>
   
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
{%endblock headerContent%}
{% block content %}
<section>
      <article>
        <div class="row">
          <div class="col-sm-4">
            ust me, myself and I, exploring the universe of uknownment. I have a 
      	  heart of love and a interest of lorem ipsum and mauris neque quam blog. 
      	  I want to share my world with you.
          ust me, myself and I, exploring the universe of uknownment. I have a 
          heart of love and a interest of lorem ipsum and mauris neque quam blog. 
          I want to share my world with you.
          </div>
          <div class="col-sm-4">
            ust me, myself and I, exploring the universe of uknownment. I have a 
      	  heart of love and a interest of lorem ipsum and mauris neque quam blog. 
      	  I want to share my world with you.
          </div>
          <div class="col-sm-4">
      	  ust me, myself and I, exploring the universe of uknownment. I have a 
      	  heart of love and a interest of lorem ipsum and mauris neque quam blog. 
      	  I want to share my world with you.
          </div>
        </div>
      </article>
    </section>
{% endblock content %}  