{% extends "index.html" %}
{% load static %}

{% block title %} Contact{% endblock title %}
{% block bodyId %}Contact{% endblock %}
{% block headerContent %}
<div class="jumbotron text-center">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "images/banner05.jpg" %}" alt="Los Angeles" width="550" height="250">
    </div>
    <div class="carousel-item">
      <img src="{% static "images/banner05.jpg" %}" alt="Chicago" width="550" height="250">
    </div>
    <div class="carousel-item">
      <img src="{% static "images/banner05.jpg" %}" alt="New York" width="550" height="250">
    </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
{%endblock headerContent%}
{% block content %}
<div class="container">
	<section>
      <article>
        <div class="row">
          <div class="col-sm-6" style="text-align: justify;">
            <strong>Conditions Générales d’utilisation| Politique de           confidentialité | Utilisation des Cookies</strong><br>
      ALTERNATIVE VOYAGE (« BlaGroWCar », « nous », « nos » ou « notre ») utilise les cookies afin de vous proposer un service web amélioré et davantage personnalisé. À travers cette Charte d’utilisation des Cookies de BlaGroWCar (la « Charte sur les Cookies »), nous vous présentons comment et pourquoi nous utilisons des cookies sur ce site, en toute transparence.
      Qu’est-ce qu’un cookie et à quoi sert-il ?

      Un cookie est un petit fichier texte enregistré, et/ou lu par votre navigateur, sur le disque dur de votre terminal (PC, ordinateur portable ou smartphone, par exemple) et déposé par les sites internet que vous visitez. Quasiment tous les sites utilisent des cookies pour bien fonctionner et optimiser leur ergonomie et leurs fonctionnalités. Les cookies rendent également les interactions avec les sites plus sécurisées et rapides, dans la mesure où ceux-ci peuvent se souvenir de vos préférences (telles que votre identifiant et votre langue) en renvoyant les informations qu’ils contiennent au site d’origine (cookie interne) ou à un autre site auquel ils appartiennent (cookie tiers), lorsque vous visitez à nouveau le site concerné à partir du même terminal. Selon leur fonction et le but de leur utilisation, les cookies sont classés parmi les catégories décrites ci-dessous et utilisées par BlaGroWCar sur ce site :
      Les cookies absolument nécessaires vous permettent de vous déplacer sur le site et d’utiliser ses fonctionnalités de base. Ils sont généralement installés uniquement en réponse à des actions de votre part pour accéder à des services, tels que la connexion à un espace sécurisé de notre site. Ces cookies sont indispensables pour l’utilisation de ce site.
      Les cookies de fonctionnalité sont utilisés pour vous reconnaître lorsque vous revenez sur notre site et nous permettent de vous proposer des fonctionnalités améliorées et davantage personnalisées, comme l’accueil nominatif et l’enregistrement de vos préférences (le choix de votre langue ou la région où vous vous trouvez par exemple). Ces cookies collectent des informations anonymes et ne peuvent pas tracer vos déplacements sur d’autres sites.
      Les cookies d’analyse et de performance nous permettent de reconnaître et de compter le nombre de visiteurs sur notre site et de collecter des informations sur la manière dont notre site est utilisé (par exemple, quels sont les pages les plus vues par les visiteurs, est-ce que les internautes ont des messages d’erreur sur certaines de nos pages, etc.). Cela nous permet d’améliorer la façon dont notre site internet fonctionne, par exemple, en nous assurant, que les utilisateurs trouvent facilement ce qu’il cherche.
      Les cookies publicitaires ou de ciblage enregistrent votre visite sur notre site, ainsi que les pages que vous avez consultées et les liens que vous avez suivis. Nous utiliserons ces informations pour afficher des publicités pertinentes en fonction de vos centres d’intérêts. Ils sont également utilisés pour limiter le nombre d’affichages d’une même publicité et pour aider à mesurer l’efficacité des campagnes publicitaires. Ainsi, il se peut également que nous partagions ces informations auprès de tiers (les annonceurs par exemple).
      Utilisation des cookies tiers

      Veuillez noter que BlaGroWCar utilise les services de tiers pour connaître votre utilisation de ce site, ceci afin d’optimiser votre expérience utilisateur et d’afficher des publicités en dehors de ce site. Ces tierces parties (comme par exemple des réseaux d’annonceurs et des prestataires de services externes, tels que les services d’analyse de trafic web) peuvent également utiliser des cookies que nous ne maîtrisons pas.
      Que faire si vous ne souhaitez pas activer les cookies ?

      Vous pouvez révoquer votre consentement à l’utilisation des cookies à tout moment, de la façon suivante :

      En paramétrant votre navigateur internet

      Si vous souhaitez supprimer les cookies enregistrés sur votre terminal et paramétrer votre navigateur pour refuser les cookies, vous pouvez le faire via les préférences de votre navigateur internet. Ces options de navigation relatives aux cookies se trouvent habituellement dans les menus « Options », « Outils » ou « Préférences » du navigateur que vous utilisez pour accéder à ce site. Cependant, selon les différents navigateurs existants, des moyens différents peuvent être utilisés pour désactiver les cookies. Pour en savoir plus vous pouvez suivre les liens référencés ci-dessous :
      Microsoft Internet Explorer
      Google Chrome
      Safari
      Firefox
      Opera
      Veuillez noter que si vous refusez, depuis votre navigateur internet, l’enregistrement de cookies sur votre terminal, vous serez toujours en mesure de naviguer sur ce site, mais certaines parties et options pourraient ne pas fonctionner correctement.
      En désactivant les cookies en ligne
      

          </div>
          <div class="col-sm-6" style="text-align: justify;">
            En utilisant des plateformes en ligne de contrôle des cookies publicitaires :
            S’agissant des cookies publicitaires déposés par des tiers, vous pouvez également vous connecter au siteYouronlinechoices, proposé par les professionnels de la publicité digitale regroupés au sein de l’association européenne EDAA (European Digital Advertising Alliance).
            Vous pourrez ainsi refuser ou accepter les cookies utilisés les professionnels de la publicité adhérents.

             (
            10. Confidentialité de votre mot de passe
            Vous êtes responsable de la confidentialité du mot de passe que nous vous avez choisi pour accéder à votre compte sur nos Plateformes.
            Vous vous engagez à conserver ce mot de passe secret et à ne le communiquer à personne.
            11. Liens vers d’autres sites internet et réseaux sociaux
            Nos Plateformes peuvent occasionnellement contenir des liens vers les sites internet de nos partenaires ou de sociétés tierces. Veuillez noter que ces sites internet ont leur propre politique de confidentialité et que nous déclinons toute responsabilité quant à l’utilisation faite par ces sites des informations collectées lorsque vous cliquez sur ces liens. Nous vous invitons à prendre connaissance de politiques de confidentialité de ces sites avant de leur transmettre vos Données Personnelles.
            12. Modification de notre politique de confidentialité
            Nous pouvons être amené à modifier occasionnellement la présente politique de confidentialité. Lorsque cela est nécessaire, nous vous en informerons et/ou solliciterons votre accord. Nous vous conseillons de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications ou mises à jour apportées à notre politique de confidentialité.
            13. Contact
            Pour toute question relative à la présente politique de confidentialité ou pour toute demande relative à vos données personnelles, vous pouvez nous contacter en :
            • adressant un email à notre délégué à la protection des données à l’adresse alternativevoyage@gmail.com
            • en remplissant ce formulaire en ligne
            Version initiale

            Entreprise : <strong>BlaGroCarS</strong><br>

            Plan d’action1:<br>

            Création de site internet : <strong>Covoiturage</strong> 
            -Attirer de la clientèle et le fidéliser en utilisant le système d’emailing et faire des offres alléchant (ex : offrir gratuitement le premier voyage au passager ou payer la moitié du tarif en cas d’utilisation du site pour se déplacer. Pour le conducteur qui fait du covoiturage avec des clients utilisant notre site, nous lui offrons une vidange gratuite. Cette offre est valable pour le 10er passagers et les 10ers conducteurs et ce pendant 3 mois
             Politique de confidentialité Conditions générales


                                    
            5 actions capitales à mener avant le lancement d’une offre

            En résumé
            Bon, on récapitule le tout ! Les 5 grandes actions que vous devez mener avant le lancement d’une offre sont :
            1.  Recueillir les avis des consommateurs, pour identifier précisément leurs besoins et améliorer votre offre
            2.  Commencer à recruter des leads au plus tôt, pour vous assurer un portefeuille de clients dès le lancement de votre offre et la rentabiliser au plus vite
            3.  Jouer la carte de la viralité, pour créer l’attente autour de votre offre
            4.  Repérer les influenceurs et les contacter avant le lancement de votre offre, pour qu’ils parlent d’elles lors de sa sortie et augmentent votre notoriété
            5.  Contacter la presse pour diffuser un communiqué et faire connaître votre offre dans les médias sans avoir besoin de déployer (et payer… !) de grandes campagnes de pub.
            Grâce à toutes ces actions, votre nouvelle offre devrait rencontrer le succès dès son lancement et vous permettre de démarrer sur les chapeaux de roue !<br><br>

            <table class="table table-hover cookie">
            <thead>
               <tr>
              <th>Catégorie de cookie</th>
              <th>Moyens de désactivation</th>
            </tr>
            </thead>
           <tbody>
            <tr>
              <td>Cookies analytiques et de performance</td>
              <td>
                <ul>
                  <li>Realytics</li>
                  <li>Google Analytics</li>
                  <li>Spoteffects</li>
                  <li>Optimizely</li>
                </ul>
              </td>
            </tr>
            <tr>
               <td>Cookies de ciblage ou publicitaires</td>
              <td>
                <ul>
                  <li>DoubleClick</li>
                  <li>Mediarithmics</li>
                  <li>Numberly</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td scope="row">Cookies de réseaux sociaux</td>
              <td>Facebook</td>
            </tr>
            </tbody>
          </table>

          </div>
        </div>
      </article>
    </section>
</div>
{% endblock content %}    
