{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<form action="{% url "creertrajet" %}" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
	{% csrf_token %}
	
	{% for field in form.visible_fields %}
	<div class="form-group">
      {{ field.label_tag }}
	  {% if not field.available %}
	    {% render_field field class="form-control" style="max-width:100%; padding:0;" %}
	  {%else%}
	  	{% render_field field class="form-control" style="max-width:100%; padding:0;" %}
	  {% endif %}
	  {% if field.help_text %}
	    <small class="form-text text-muted">{{ field.help_text }}</small>
	  {% endif %}
	</div>
	{% endfor %}
	<input type="submit" value="Ok">
</form>
{% endblock content %}