{% extends "index.html" %}
{% load static %}
{% block mainSectionId %}listresrvation{% endblock mainSectionId%}
{% block content %}
<div class="container">
  <hr/>
  <input type="text" id="InputNumvehicule" class="form-control" onkeyup="SearchPerCarNumber()" placeholder="Recherche par numéro de véhicule..." title="Type in a name">
  <hr/>
  <input type="text" id="InputPhoneNumber" class="form-control" onkeyup="SearchPerNumber()" placeholder="Recherche par numéro de téléphone..." title="Type in a name">
  <hr/>
  <div class="table-responsive">
  <table id="BookingTable" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Véhicule</th>
        <th scope="col">Nom</th>
        <th scope="col">Contact</th>
        <th scope="col">Départ</th>
        <th scope="col">Arrivée</th>
        <th scope="col">Date/h départ</th>
        <th scope="col">Date/h arrivée</th>
        <th scope="col">place</th>
        <th scope="col">Payé</th>
      </tr>
    </thead>
    <tbody>
  {% for res in resrv %}
    <tr>
      <td>{{res.num_vehicule}}</td>
      <td>{{res.non_client}}</td>
      <td>{{res.contact_client}}</td>
      <td>{{res.lieu_depart}}</td>
      <td>{{res.lieu_arrivee}}</td>
      <td>{{res.heure_depart}}</td>
      <td>{{res.heure_arrivee}}</td>
      <td>{{res.nbPlace_Reservee}}</td>
      <!-- <td><input type="checkbox" class="custom-control-input" id="defaultChecked2" checked></td> -->
      <td><input type="checkbox" name="check" id="check" {% if res.payment %}checked disabled{% else %}disabled{% endif %}/></td>
    </tr>
  {% endfor %} 
    </tbody>
  </table>
  </div>
</div>
{% endblock content %}    
