{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="fc log">
	<div id=loginF class="userform">
		<span><strong>Deja Inscrit?</strong></span>
		<form method="post">
			{% csrf_token %}
			{% for field in login_form.visible_fields %}
				<div class="form-group">
	  				{{ field.label_tag }}
	  				{% render_field field class="form-control" style="max-width:50%; padding:0;" %}
	  			</div>
	  		{% endfor %}
			<input type='submit' name='submit' value='sign_in'/>
			<input type='hidden' value={{next}}/>
		</form>
	</div>
	<br>
	<div id=signupF class="userform">
		<span><strong>Pas encore inscrit?</strong></span>
		<form method="post">
			{% csrf_token %}
			{% for field in contact_form.visible_fields %}
				<div class="form-group">
	  				{{ field.label_tag }}
	  				{% render_field field class="form-control" style="max-width:50%; padding:0;" %}
	  			</div>
	  		{% endfor %}
			<input type='submit' name='submit' value='sign_up'/>
			<input type='hidden' value={{next}}/>
		</form>
	</div>
</div>
{% endblock content %}