
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
* {
box-sizing: border-box;
}
body{
	overflow-x: hidden;
	
	font-family: Verdane,Helvetica, sans-serif;
}
.container{
  	max-width:960px;
  	position: relative;
	min-height: 100vh;
}

.jumbotron{
  	padding:0;
}
/* Make the image fully responsive */
.carousel-inner img {
  	width: 100%;
  	height: 100%;
}
.table{
	max-width: 100%;
	border-collapse: collapse;
	margin:0;
}
div .cookSmall{
	display: none;
}
caption{
	caption-side: top;
	margin: 0;
	padding:0;
}
#mainList .table td, .table th {
  padding:1px;
  border:1px solid #ccc;
}
#details .table thead{
	background-color: #6c757d;
}

#details .table td { 
		display: table-cell;
		vertical-align: inherit;
		text-align: inherit; 
}
#details .table tbody img {
	width: 150px;
	height: 100px;
	display: block;
		margin-left: auto;
		margin-right: auto;
}

#details .table td, .table th {
  padding:1px;
  padding: 0;
  border:1px solid #ccc;
  vertical-align: baseline;
}
#details .table .depCell{
	background-color: #009999;
}

#billet .table th,#billet .table td{
	border:1px solid #ccc;
	text-align: center;
}
#billet .l1{
	padding:0;
}
th.imgCel{
	width: 58px;
}
#allT table th,#allT table td{
	text-align: center;
}
.card-img{
	width: 100%;
	padding: 0;
}

#voiture .card{
	width: 28rem;
}
#voiture .card{
	text-align: center;
	margin: 0 auto 0 auto;
	width: 28rem;
}

.iconclass{
	display: inline-block;
}
#navbarSupportedContent ul li {
	width:105px;
}
#navbarSupportedContent .identity{
	background-color: DodgerBlue;
}
#navbarSupportedContent ul li .ident{
	padding-top: 3px;
}
#navbarSupportedContent .identity .ident{
	color: #fff;
}
#navbarSupportedContent ul li:hover , #navbarSupportedContent ul li .dropdown-menu a:hover{
	/*background-color: #696969;*/
	
}

#navbarSupportedContent .nav-link {
	float:left;
	background:url("../images/tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 5px;
	text-decoration:none;
	}

#navbarSupportedContent .nav-link span {
	float:left;
	display:inline-block;
	background:url("../images/tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#24618E;
	width: 100px;
	}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#navbarSupportedContent .nav-link span {float:none;}

/* End IE5-Mac hack */
#navbarSupportedContent .nav-link:hover span {
	color:#FFF;
	}

#navbarSupportedContent .nav-link:hover {
	background-position:0% -42px;
	}

#navbarSupportedContent .nav-link:hover span {
	background-position:100% -42px;
	}

#navbarSupportedContent .ident{
	padding-left: 2px;
}
#navbarSupportedContent .ident a{
	color: #fff;
}

/* =================================================*/

.card-body{
	padding:5px 0 0 0;
}
#Contact span{
	color: green;
	font-weight: bold;
}
#myDIV{
	position: fixed;
	z-index: 1000;
	bottom:10px;
	right:50px;
	max-width:30%;
	background-color: purple;
	opacity: 0.5;
	color: white;
	text-align: justify;
	padding: 6px;"
}
#thefooter {
		margin-top: 5px;
		bottom: 0;
		width: 100%;
		height: 5rem;
		color: #fff;
		background-color:black;
}

.footer-copyright {
		
		text-transform: uppercase;
		font-size: 14px;
}
@media only screen and (max-width: 414px) {
  body{
  	font-family: Verdane,Helvetica, sans-serif;
}
.container{  
  	  min-height: 100vh;
}
.container .reserv{
  	font-size: 0.8em;
}
.container .collapse .card .table th td{
	font-size: 10px;
}
.nav-item .dropdown-menu{
	float: left;
}
.dropdown-menu{
	min-width: 20rem;
}
#myDIV{
  	display: none;
  }

#navbarSupportedContent a{
	width:100px;
}
#navbarSupportedContent a span {
	width: 100%;
} 
.table td, .table th {
	border:1px solid #ccc;
	padding:0;
	font-size:0.8rem;
	text-align: center;
}
.table{
		max-width: 100%;
}
.detform {
		
}
.detform input[type="submit"]{
		width: 100%;
}
.table tbody img {
		margin:0 auto;
}
.card-img{
		width: 50%;
		padding: 40;
}
#thefooter {

		bottom: 0;
		width: 100%;
		height: 6rem;
		color: #fff;
		background-color:black;
}
}
